html
  include partials/head.pug

  body
    h1= showdata.title

    h2 Developed By
    ul
      for director in showdata 
        li= { showdata.director } 

    h2 Starring
    ul
      for starring in showdata 
        li= { showdata.starring }

    h2 Seasons
    ul
      for season in showdata 
        li
          a(href=`/season/${season.number}`)= `Season ${season.number}`
